.main{
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 10px;

}
.sub-main{
    display: flex;
    justify-content: center;
    height: 80vh;
    width: 80%;
    border-radius: 20px;
    background-color: #FFFFFF;

}
h5{
    /* text-align: center; */
    margin-left: -40px;
    font-size: 25px;
    padding: 10px;
    font-family: 'Nunito';
    font-weight: 700;
    position: absolute;
    color: #000000;
}
.registerform{
    margin-top: 80px;
}
.text1{
    width: 30vw;
}.branch{
    width: 30vw;
}
.submitbtn{
    margin-top: 20px;
}
.branchname{
    margin-left: 100px;
    margin-top: -30px;
    border-radius: 20px;
    /* width: 200%; */
    border-color: gray;
    padding-right: 150px;
    padding-top: 10px;
}
.registerconatiner{
    margin: 2vw;
    display: flex;
    height: 70vh !important;
    align-items: center;
    justify-content: center; 
    border-radius: 14px;
}
.registerform label{
    text-align: left;
}


